<div class="text-center">
    <h1 class="display-4">Welcome to our company management system!</h1>
    <p>Click <a asp-controller="Companies" asp-action="ViewCompanies">here</a> to see all companies or <a asp-controller="Companies" asp-action="CreateCompany">here</a> to create a company</p>
</div>